nav.navbar.navbar-inverse.navbar-bottom
	footer
		p.pull-right
			a(href="#")#top Back to top
		p.block#year
		script(type='text/javascript').
			const date = new Date();
			const year = "Adam Bodie &copy; " + date.getFullYear();
			document.getElementById("year").innerHTML = year;