head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	// The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
	meta(name="description",content="Bodie Web Design")
	meta(name="author" content="Adam Bodie")
	meta(property="og:url", content="http://www.bodiewebdesign.com")
	meta(property="og:type", content="website")
	meta(property="og:title", content="Bodie Web Design")
	meta(property="og:description", content="My personal web page for showing my portfolio")
	meta(property="og:image", content="/static/img/bwd.jpg")

	title!= title

	// Latest compiled and minified CSS
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")

	// Optional theme
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css")

	// Font Awesome CSS
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")

	// Custom styles for this template
	link(href='https://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Orbitron:500' rel='stylesheet' type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
	link(href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel='stylesheet' type='text/css')

	// custom css
	link(rel='stylesheet', href='static/css/app.min.css')
