// JavaScript
// Placed at the end of the document so the pages load faster
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")

// Latest compiled and minified JavaScript
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

// Angular
script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js')
script(src='//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js')
script(src='http://code.angularjs.org/1.2.14/angular-resource.js')
script(src='static/js/angular/main.js')
script(src='static/js/ng-map.min.js')

// custom JS

script(src="static/js/vticker.min.js")
script(src="static/js/scrollbar.min.js")
script(src='static/js/services/PictureService.js')

if path === '/'
	script(src="static/js/overlay.min.js")
	script(src='static/js/controllers/UpdateController.js')
	script(src='static/js/controllers/ProjectController.js')
	script(src='static/js/controllers/FeatureController.js')
	script(src='static/js/controllers/PictureWeekController.js')
	script(src="static/js/perfectscrollbar.jquery.js")
	script(type="text/javascript").
		$('.mobile').perfectScrollbar();

if path === '/about'
	script(src='static/js/controllers/OpenController.js')
	script(src='static/js/controllers/SkillsController.js')

if path === '/picture'
	script(src='static/js/controllers/PictureController.js')
	script(src="static/js/myImageLightbox.min.js")
