// JavaScript
// Placed at the end of the document so the pages load faster
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")

// Latest compiled and minified JavaScript
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

// custom JS

script(src="static/js/overlay.min.js")
script(src="static/js/ad.min.js")
script(src="static/js/vticker.min.js")
script(src="static/js/scrollbar.min.js")

if path === '/'
	script(src="static/js/howManyDaysAgoUpdate.min.js")
	script(src="static/js/feature.min.js")


if path === '/about'
	script(src="static/js/open-on-date.min.js")


if path === '/picture'
	script(src="static/js/myImageLightbox.min.js")
	script(src="static/js/locations.min.js")
	script(async defer src='https:/maps.googleapis.com/maps/api/js?key=AIzaSyBrpgMWBTZRs58bzHOzCfESQPsvI09zOuo&v=3&callback=initMap')
