// JavaScript
// Placed at the end of the document so the pages load faster
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")

// Latest compiled and minified JavaScript
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")

// custom JS

script(src="static/js/overlay.min.js")     
script(src="static/js/ad.min.js")
script(src="static/js/vticker.min.js")
script(src="static/js/meow.min.js")
script(src="static/js/scrollbar.min.js")


if path === '/'
	script(src="static/js/howManyDaysAgo.min.js")
	script(src="static/js/time.min.js")
	script(src="static/js/feature.min.js")


if path === '/about.html'
	script(src="static/js/open-on-date.min.js")


if path === '/archive.html'
	script(src="static/js/archive.min.js")
	script(src="static/js/myImageLightbox.min.js")

	