#topbar.navbar-header
  button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
    i.fa.fa-bars
  img.img-responsive.block(src='/static/img/bwd.svg', alt='Bodie Web Design', style='max-width: 150px; max-height: 150px;')
  #navbar.navbar-collapse.collapse
    ul.block
      li.block
        a(href='/') Home
      li.block
        a(href='http://blog.bodiewebdesign.com') Blog                     

