#topbar.navbar-header
        button(type="button", data-toggle="collapse", data-target="#navbar", "aria-expanded"="false", aria-controls="navbar").navbar-toggle.collapsed
          i.fa.fa-bars
        img(src="/static/img/bodie-web-design.jpg",alt="Bodie Web Design",style="height:85px").img-responsive.block
        #navbar.navbar-collapse.collapse
          ul.block
            li.block
              a(href="/") Home
            li.block
              a(href="/about") About
            li.block
              a(href="/picture") Pictures
                if path === '/'
                  li.block
                     a(href="#projects") Projects
                  li.block
                     a(href="#mobile-projects") Mobile   
