#topbar.navbar-header
        button(type="button", data-toggle="collapse", data-target="#navbar", "aria-expanded"="false", aria-controls="navbar").navbar-toggle.collapsed
          i.fa.fa-bars
        img(src="/static/img/bwd-logo.gif",alt="Bodie Web Design").img-responsive.block
        #navbar.navbar-collapse.collapse
          ul.block
            li.block
              a(href="/") Home
            li.block
              a(href="http://blog.bodiewebdesign.com") Blog
            if path === '/' || path === '/about.html' || path === '/archive.html'
                li.block
                  a(href="about.html") About
                li.block
                  a(href="picture.html") Pictures
                if path === '/'
                   li.block
                     a(href="#projects") Projects
