#topbar.navbar-header
        button(type="button", data-toggle="collapse", data-target="#navbar", "aria-expanded"="false", aria-controls="navbar").navbar-toggle.collapsed
          i.fa.fa-bars
        img(src="/static/img/Bodie-Logo.gif",alt="Bodie Web Design" style="max-width: 150px; max-height: 150px;").img-responsive.block
        img(src="/static/img/uccuo.jpg", alt="Unified for UCC", style="max-width: 50px; max-height: 50px; float: right; margin-top: 25px; margin-right: 20px;").block 
        #navbar.navbar-collapse.collapse
          ul.block
            li.block
              a(href="/") Home
            li.block
              a(href="/blog") Blog  
            if path === '/' || path === '/about.html' || path === '/archive.html' 
                li.block
                  a(href="about.html") About
                li.block
                  a(href="archive.html") Archive
                if path === '/'
                   li.block
                     a(href="#projects") Projects

