@import '../../imports.scss';

.about {
	margin-top: 100px;
	h1 {
		text-align: left;
	}
}
h4 {
	a {
		color:  white;
		&:hover {
			color: $darken;
			text-decoration: none;
		}
	}
}

.flex-container {
	display: flex;
	margin-top: 20px;
}

.flex-item {
	flex: 100%;
	padding: 10px;
}
h3 {
	text-align: center;
}


#adam {
	border-radius: 100%;
	box-shadow: 10px 10px 10px black;
	@include center-image();
	@include responsive();
}

@media (min-width: 512px) {
.flex-item {
	flex: 50%;
}
}
