extends ./layout.pug

block content
    .container.about
        .row
            .col-md-6
                h2 About Me
                h4 Who is Adam Bodie?
                p I am a person who is reliable, devoted and always willing to do what it takes to get stuff done.  Whether it's work or play, I strive to make sure things are done correctly.  Loyalty and respect are two values I consider to be quite important, both in the workplace and everywhere else.  When it comes to my work ethic, I always make sure I get things done when needed.  There's nothing that passes me by.
                p I consider myself to be creative and full of ideas when it comes to design and presentation.  Whether it's through my extensive use of photography or designing webpages, it's one of my best qualities and something I am proud of.
                p My passion is to become a full stack developer, and though front-end development is where I'm my best at, I am capable and willing to get work done on the back-end as well.  We live in a world where technology is rampant and growing everyday, and I would love to be part of that growing field.  Development is only going to get more powerful and easier to build and I look forward to learning new technologies and frameworks to create better projects in the future.
                p Currently, I live in the Portland, Oregon area looking to begin my career in web development.  But I'm more than willing to relocate to work.  If you're interesting in discussing opportunities with me or have any advice to give, I'm more than willing to talk.  Anywhere, anytime.  That's always been my motto.
            .col-md-6
                h1#contact Contact Me
                .col-md-6#authorDiv
                    img(src="static/img/author.jpg", alt="Adam").img-responsive#adam
                .col-md-6.block
                    p If you'd like to contact me, the best way to do so is through email.  You can send me an email at:</p>
                    h4
                        strong
                            a(href="mailto:adam.bodie@yahoo.com") adam.bodie@yahoo.com
                    p Of course, like any business that's not open 24 hours, I am closed for business from time to time.  Therefore, if you do send me an email after "closing hours," please note that I am not likely to respond until I'm ready to conduct business.  Please keep that in mind when sending me an email.  But I will respond, just give me time.  Thank you and have a good day!</p>
                #container.block(ng-controller="OpenController")
                    h3 {{open}}
					
                h2#programmingSkills Programming Skills
                p These are programming skills that I have.  I mostly prefer front-end development with HTML5, CSS3 and JavaScript, but I have knowledge of other languages as well.  The information provided showcases languages, libraries and other parts that I have worked with at some point. I'm also skilled with programs like Microsoft Office and Adobe PhotoShop.  In a sense, I am flexible and can easily adapt with computer software.
                .news
                    ul(ng-controller="SkillsController")
                       li(ng-repeat="skill in skills") {{skill}}
    section
        .row.ad
         a(href="https://www.linkedin.com/in/adam-bodie/", target="_blank")  
            img.img-responsive(ng-src='/static/img/linkedin.png', alt='LinkedIn')            
