extends ./layout.jade

block content
    .container.intro
        .row#newsRow
            button#meowButton.btn.center-block.btn-block Meow My Website!!!
        .row
            h1#pictureArchive Picture of the Week - Archive
            #gallery
