extends ./layout.pug
block content
    .container.intro(ng-controller='MainController')
      .row
        h2.section-heading Welcome to {{title}}
        .col-md-6
          p
            | Here you will find many of the web projects I've developed since I began web development. Proficient in languages including HTML5, CSS3, JavaScript, and many of JavaScript's popular libraries such as jQuery and AngularJS, I have used many techniques to build what you see here. There's plenty to explore and see, and plenty more on its way in the future, so feel free to check out my work and explore everything I have to offer. For those looking for a bit of history, I have been learning and practicing software development since the end of 2013. My main area of expertise is front-end web development, but I also know the basics of languages like Ruby, Python, and Java, as well as web frameworks combining these languages with front-end development.
        .col-md-6
          h1#feature_project Featured Project
          #feature
      section#about
        .container
          .row
            h2.section-heading Picture of the Week
            #week.col-md-6
              .photo
                img.img-responsive(src='static/img/lookout.jpg', alt='Be On The Lookout for Fun')
                a(href='static/img/lookout.jpg')
                  .photo-overlay
                    h3 Be On The Lookout for Fun
                    p Date Taken: March 19, 2017
                    p Location: Cape Lookout State Park, Oregon
      section
        .row.ad
          #ad
            button#close
              i.fa.fa-times
            a(href='http://www.github.com/adambodie', target='_blank')
              div#github
                h1
                  | Visit my GitHub page
                i.fa.fa-github.fa-5x
      section#projects
        .container
          h2.section-heading Projects
          .row
            h3#update Recent updates
            .update
              ul
                li(ng-repeat="update in updates")
                  strong {{update.title}}
                  |  - {{update.description}}                

            div(ng-repeat="project in projects")
              .row
                .box.block.col-sm-6.links
                  img.img-responsive(ng-src='/static/img/{{project.image}}.jpg', alt='{{project.alt}}', width='400', height='300')
                .box.block.col-sm-6
                  h2 {{project.title}}
                  .description
                    p
                      strong Created:
                      |  {{project.created}}
                    p
                      strong Added:
                      |  {{project.createdAt}}
                    br
                    p
                      strong Updated:
                      |  {{project.updated}}
                    p
                      strong Last Updated:
                      |  {{project.updatedAt}}
                  p {{project.description}}
                  h3
                    a.btn(href='http://{{project.link}}.bodiewebdesign.com', role='button') Check Me Out! &raquo;
