extends ./layout.pug
block content
    .container.intro
      .row
        .col-md-6
          h2.section-heading Welcome to Bodie Web Design
          p Here you will find some web projects I have built for the past few years.  My main expertise for utilizing web projects is with JavaScript.  As you'll see, I like to use AngularJS and React as frameworks, as well as Ember.  This page uses AngularJS for the front-end, Express as the middleware, and backed with NodeJS.  All source code for my various projects can be found on my GitHub page.  Feel free to check out my code and see how I do my magic.
          p I started working on Web Development back in 2013, learning many languages in addition to JavaScript.  I'm always open to learning new things to build for the future, and willing to expand my skills on languages I have a basic understanding of, including Java, Ruby and Python.
          p My goal is to become a Full Stack developer, and while front end is my particular expertise, I am capable of building code on the back end to get my projects up and running, as well as using tools to make developing code easier and quicker.
        .col-md-6
          h1#feature_project Featured Project
          #feature(ng-controller='FeatureController')
            a(href='http://{{randomFeature.link}}.bodiewebdesign.com')
              img(ng-src='static/img/{{randomFeature.image}}.jpg' class='img-responsive center-block')
            h3 {{randomFeature.title}}
      section#about
        .container
          .row(ng-controller='PictureWeekController')
            h2.section-heading Picture of the Week
            #week.col-md-6
              .photo
                img.img-responsive(ng-src='static/{{image}}', alt='{{title}}')
                a(href='static/{{image}}')
                  .photo-overlay
                    h3 {{title}}
                    p Week of: {{week}}
                    p Location: {{place}}
                    p(style="text-align: center") {{description}}
            .col-md-6
              div(map-lazy-load='https:/maps.googleapis.com/maps/api/js?key=AIzaSyBrpgMWBTZRs58bzHOzCfESQPsvI09zOuo&v=3')
                ng-map(center='{{latitude}},{{longitude}}', zoom='12' style='height:420px')
                  marker(position='[{{latitude}},{{longitude}}]' title='{{location}}')
      section
        .row.ad
          #ad
            button#close
              i.fa.fa-times
            a(href='http://www.github.com/adambodie', target='_blank')
              div#github
                h1
                  | Visit my GitHub page
                i.fa.fa-github.fa-5x
      section#projects
        .container
          h2.section-heading Projects
          .row
            h3#update Recent updates
            .update(ng-controller='UpdateController')
              ul
                li(ng-repeat='update in updates')
                  strong {{update.title}}
                  p {{update.description}}
            div(ng-controller='ProjectController')
              div(ng-repeat='project in projects|reverse')
                .row
                  .box.block.col-sm-6.links
                    img.img-responsive(ng-src='/static/img/{{project.image}}.jpg', alt='{{project.alt}}', width='400', height='300')
                  .box.block.col-sm-6
                    h2 {{project.title}}
                    .description
                      p
                        strong Created:
                        |  {{project.created}}
                      p
                        strong Added:
                        |  {{project.createdAt}}
                      br
                      p
                        strong Updated:
                        |  {{project.updated}}
                      p
                        strong Last Updated:
                        |  {{project.updatedAt}}
                    p
                        strong Technologies Used:
                        |  {{project.languages}}
                    p {{project.description}}
                    h3
                      a.btn(href='http://{{project.link}}.bodiewebdesign.com', role='button') Check Me Out! &raquo;
      section#mobile-projects
        .container
          h2.section-heading Mobile Projects
            .row
              .box.block.col-sm-6.links
                .mobile
                  .content
                    img.img-responsive(ng-src='/static/img/walla-walla-native.jpg', alt='Walla Walla Native')
              .box.block.col-sm-6
                h2 Walla Walla Native
                p
                  strong Created:
                    |  September 20, 2017
                p
                  strong Technologies Used:
                    |  React Native
                p My first mobile project, using React Native.  Click the link below for the source code, or scroll the image to see the final version.
                h3
                  a.btn(href='https://github.com/adambodie/walla-walla-native', role='button') Check Me Out! &raquo;
            .row
              .box.block.col-sm-6.links
                .mobile
                  .content
                    img.img-responsive(ng-src='/static/img/smallTownNative.jpg', alt='Small Towns Native')
              .box.block.col-sm-6
                h2 Small Towns Native
                p
                  strong Created:
                    |  November 12, 2017
                p
                  strong Technologies Used:
                    |  React Native
                p Another React Native project based on a previous project, I used a native build, rather than Create React Native App, to provide more flexibility.  Click the link below for the source code, or scroll the image to see the final version.
                h3
                  a.btn(href='https://github.com/adambodie/SmallTownNative', role='button') Check Me Out! &raquo;                                    