extends ./layout.pug
block content
    .container.intro
      .row
        .col-md-6
          h2.section-heading Welcome to Bodie Web Design
          p Here is my portfolio page, containing links to some of my best projects.  As you’ll see, I primarily work with JavaScript, mainly focused on React, but able to build with jQuery and AngularJS, to name a few.  This page uses AngularJS as the front end, Express middleware and backed with Node.js; all while using AWS Elastic Beanstalk to serve the project.    All of my project’s source code can be found on my Github page.  To read more about me, feel free to visit the About page for more info, including contact info, or enjoy my many pictures in the Picture page.
        .col-md-6
          h1#feature_project Featured Project
          #feature(ng-controller='FeatureController')
            a(href='http://{{randomFeature.link}}.bodiewebdesign.com')
              img(ng-src='static/img/{{randomFeature.image}}.jpg' class='img-responsive center-block')
            h3 {{randomFeature.title}}
      section#about
        .container
          .row(ng-controller='PictureWeekController')
            h2.section-heading Picture of the Week
            #week.col-md-6
              .photo
                img.img-responsive(ng-src='static/{{image}}', alt='{{title}}')
                a(href='static/{{image}}' data-imagelightbox="a")
                  .photo-overlay
                    h3 {{title}}
                    p Week of: {{week}}
                    p Location: {{place}}
                    p(style="text-align: center") {{description}}
            .col-md-6
              div(map-lazy-load='https:/maps.googleapis.com/maps/api/js?key=AIzaSyBrpgMWBTZRs58bzHOzCfESQPsvI09zOuo&v=3')
                ng-map(center='{{latitude}},{{longitude}}', zoom='12' style='height:420px')
                  marker(position='[{{latitude}},{{longitude}}]' title='{{location}}')
      section
        .row.ad
          a(href='https://github.com/adambodie', target='_blank')  
            img.img-responsive(ng-src='/static/img/github.png', alt='GitHub')
      section#projects
        .container
          .row
            h2.section-heading Projects
            h3#update Recent updates
            .update(ng-controller='UpdateController')
              ul
                li(ng-repeat='update in updates')
                  p
                    strong {{update.title}} 
                    | - {{update.description}}
            div(ng-controller='ProjectController')
              div(ng-repeat='project in projects|reverse')
                .row.project
                  .box.block.col-sm-6.links
                    img.img-responsive(ng-src='/static/img/{{project.image}}.jpg', alt='{{project.alt}}', width='400', height='300')
                  .box.block.col-sm-6
                    h2 {{project.title}}
                    .description
                      p
                        strong Created:
                        |  {{project.created}}
                      p
                        strong Added:
                        |  {{project.createdAt}}
                      br
                      p
                        strong Updated:
                        |  {{project.updated}}
                      p
                        strong Last Updated:
                        |  {{project.updatedAt}}
                    p
                        strong Technologies Used:
                        |  {{project.languages}}
                    p {{project.description}}
                    h3
                      a.btn(href='http://{{project.link}}.bodiewebdesign.com', role='button') Check Me Out! &raquo;
      section
        .row.ad
          a(href='https://teamtreehouse.com/adambodie', target='_blank')  
            img.img-responsive(ng-src='/static/img/treehouse.png', alt='Treehouse')
      section#mobile-projects
        .container
          h2.section-heading Mobile Projects
            .row.project
              .box.block.col-sm-6.links
                .mobile
                  .content
                    img.img-responsive(ng-src='/static/img/walla-walla-native.jpg', alt='Walla Walla Native')
              .box.block.col-sm-6
                h2 Walla Walla Native
                p
                  strong Created:
                    |  September 20, 2017
                p
                  strong Technologies Used:
                    |  React Native
                p My first mobile project, using React Native.  Click the link below for the source code, or scroll the image to see the final version.
                h3
                  a.btn(href='https://github.com/adambodie/walla-walla-native', role='button') Check Me Out! &raquo;
            .row.project
              .box.block.col-sm-6.links
                .mobile
                  .content
                    img.img-responsive(ng-src='/static/img/smallTownNative.jpg', alt='Small Towns Native')
              .box.block.col-sm-6
                h2 Small Towns Native
                p
                  strong Created:
                    |  November 12, 2017
                p
                  strong Technologies Used:
                    |  React Native
                p Another React Native project based on a previous project, I used a native build, rather than Create React Native App, to provide more flexibility.  Click the link below for the source code, or scroll the image to see the final version.
                h3
                  a.btn(href='https://github.com/adambodie/SmallTownNative', role='button') Check Me Out! &raquo;                                    