extends ./layout.pug
block content
    .container.intro
      #fb-root
      script(src='static/js/facebook.min.js')
      .row
        h2.section-heading Welcome to Bodie Web Design
        .col-md-6
          p
            | Here you will find many of the web projects I&apos;ve developed since I began web development. Proficient in languages including HTML5, CSS3, JavaScript, and many of JavaScript&apos;s popular libraries such as jQuery and AngularJS, I have used many techniques to build what you see here. There&apos;s plenty to explore and see, and plenty more on its way in the future, so feel free to check out my work and explore everything I have to offer. For those looking for a bit of history, I have been learning and practicing software development since the end of 2013. My main area of expertise is front-end web development, but I also know the basics of languages like Ruby, Python, and Java, as well as web frameworks combining these languages with front-end development.
          .fb-like(style='padding: 10px', data-href='http://www.bodiewebdesign.com', data-layout='button_count', data-action='like', data-show-faces='true', data-share='true')
          .link(style='padding: 10px')
            script(src='//platform.linkedin.com/in.js', type='text/javascript')
              lang: en_US
            script(type='IN/Share', data-url='http://www.bodiewebdesign.com', data-counter='right').
        .col-md-6
          h1#feature_project Featured Project
          #feature
      section#about
        .container
          .row
            h2.section-heading Picture of the Week
            #week
              .box.block.col-md-6
                a(href='static/img/pyramid.jpg')
                  img.img-responsive.center-block(src='static/img/pyramid.jpg', alt='Is this where the Egyptians first settled in America?', width='70%')
              .box.block.description.col-md-6
                h4 Is this where the Egyptians first settled in America?
                p Date Taken: October 8, 2006
                p Location: Clear Lake, Iowa
      section
        .row.ad
          #ad
            button#close
              i.fa.fa-times
            a(href='http://www.github.com/adambodie', target='_blank')
              div#github
                h1
                  | Visit my GitHub page
                i.fa.fa-github.fa-5x
      section#projects
        .container
          h2.section-heading Projects
          .row
            h3#update Recent updates
            .update
              ul
                li
                  strong Florence Foundations
                  |  - Launched February 19, 2017
                li
                  strong Coen Brothers Film Review
                  |  - Launched February 9, 2017
                li
                  strong Dreidel Duel!
                  |  - Launched January 22, 2017
                li
                  strong This Is My Life
                  |  - Relaunched January 12, 2017
                li
                  strong Adam&apos;s Wonderful World of Waterfalls
                  |  - Updated January 11, 2017, replaced with Beta Version.  See note below.
                li
                  strong Duck vs. Blue Hen!
                  |  - Updated January 8, 2017 with redesign, Slick jQuery plugin
                li
                  strong Ashland
                  |  - Updated January 2, 2017 to add Blindify jQuery plugin, updated other styling

          .row
            .box.block.col-sm-6.links
              img.img-responsive(src='static/img/grandcanyon.jpg', alt='Grand Canyon', width='400', height='300')
            .box.block.col-sm-6
              h2 Adam Hits the Big 3-0
              p#daysAgo1
              p#updateDaysAgo1
              p Check out Adam&apos;s 30th Birthday Celebration at the Grand Canyon! Enjoy all the pictures and videos Adam and the Bodie family took at the Grand Canyon and surrounding areas, and don&apos;t forget to read Adam&apos;s interesting facts about the Grand Canyon and surrounding area. A trip in itself, without actually going there (if you can&apos;t, of course, you should if you can).
              h3
                a.btn(href='http://grand-canyon.bodiewebdesign.com', role='button') Check Me Out! &raquo;
          .row
            .box.block.col-sm-6.links
              img.img-responsive(src='static/img/beer.jpg', alt='Breweries', width='400', height='300')
            .box.block.col-sm-6
              h2 Great Breweries in Oregon
              p#daysAgo2
              p#updateDaysAgo2
              p One passion I&apos;ve developed over the past four years is Beer-culture. Living in a city with over 40 microbreweries on site alone, it&apos;s no wonder that Oregon is one of the best states for tasty craft beer. Here, you will find out the best breweries that I&apos;ve come across in Oregon.
              h3
                a.btn(href='http://brewery.bodiewebdesign.com', role='button') Check Me Out! &raquo;
          .row
            .box.block.col-sm-6.links
              img.img-responsive(src='static/img/ashland.jpg', alt='Ashland', width='400', height='300')
            .box.block.col-sm-6
              h2 Visit Ashland, Oregon
              p#daysAgo3
              p#updateDaysAgo3
              p Once upon a time, I took a trip to Southern Oregon, where he visited the cities in the area, including Ashland. It was a nice trip, and although it was smoky and hazy by the time I got to Ashland, I managed to get a fascinating sun-smoked image of the Elizabethan Stage at the Oregon Shakespeare Festival. It inspired me to make a little web application about why you should visit Ashland
              h3
                a.btn(href='http://ashland.bodiewebdesign.com', role='button') Check Me Out! &raquo;
          .row
            .box.block.col-sm-6.links
              img.img-responsive(src='static/img/fortune.jpg', alt='Read Your Fortune Cookie', width='400', height='300')
            .box.block.col-sm-6
              h2 Read your Fortune Cookie
              p#daysAgo4
              p#updateDaysAgo4
              p A simple yet mind boggling app that gives you a fortune cookie to read. All you got to do is fill in your name and age, and let the app do the rest. Don&apos;t you love 21st Century Single Page Application Technology. You never know what your fortune cookie will tell you! It&apos;s that simple! Trust me.
              h3
                a.btn(href='http://fortune-cookie.bodiewebdesign.com', role='button') Check Me Out! &raquo;
          .row
            .box.block.col-sm-6.links
              img.img-responsive(src='static/img/delaware.jpg', alt='Duck vs. Blue Hen', width='400', height='300')
            .box.block.col-sm-6
              h2 Duck vs. Blue Hen!
              p#daysAgo5
              p#updateDaysAgo5
              p In an epic battle of the ages, we compare the Duck and the Blue Hen by comparing their state of choice. One the one end, we have the Duck representing Oregon. The other, it&apos;s Blue Hen representing Delaware. We find out who&apos;s better by comparing the states down to the core. So whose side are you on?
              h3
                a.btn(href='http://battle.bodiewebdesign.com', role='button') Check Me Out! &raquo;
          .row
            .box.block.col-sm-6.links
              img.img-responsive(src='static/img/small.jpg', alt='Great Small Towns', width='400', height='300')
            .box.block.col-sm-6
              h2 Great Small Towns
              p#daysAgo6
              p#updateDaysAgo6
              p Yes, it&apos;s always fun to visit the big city lights. But what would happen if the massive crowds and noise got too much for you? That&apos;s why you should appreciate the finest in small town tourism. You may be surprised by how much is out there.
              h3
                a.btn(href='http://small-town.bodiewebdesign.com', role='button') Check Me Out! &raquo;
          .row
            .box.block.col-sm-6.links
              img.img-responsive(src='static/img/waterfall-beta.jpg', alt="Adam's Wonderful World of Waterfalls", width='400', height='300')
            .box.block.col-sm-6
              h2 Adam&apos;s Wonderful World of Waterfalls
              p#daysAgo7
              p#updateDaysAgo7
              p I&apos;ve seen plenty of waterfalls in my life. They&apos;re quite a charm to see, no matter where you are. Here is my website dedicated to all things waterfalls from someone who has seen plenty of them. Take time in enjoying everything I&apos;ve seen and more.  ***Update *** This site was originally built using Ruby on Rails, but has been replaced with a bare-bones beta version, which provides the same look but with limited functionality of the full version.  The code for the full version is still available via GitHub.
              h3
                a.btn(href='http://waterfall.bodiewebdesign.com', role='button') Check Me Out! &raquo;
          .row
            .box.block.col-sm-6.links
              img.img-responsive(src='static/img/walla-walla.jpg', alt='Walla-Walla', width='400', height='300')
            .box.block.col-sm-6
              h2 Adam&apos;s Wonderful Wild Weekend in Walla Walla Washington
              p#daysAgo8
              p#updateDaysAgo8
              p With a full time job at Seterus and the ability to take PTO, I took my first day off on Friday March 18th. Looking for action, I headed east to Walla Walla, Washington. Here&apos;s my trip to Walla Walla...
              h3
                a.btn(href='http://walla-walla.bodiewebdesign.com', role='button') Check Me Out! &raquo;
          .row
            .box.block.col-sm-6.links
              img.img-responsive(src='static/img/artshowcase.jpg', alt="Adam's Art Showcase", width='400', height='300')
            .box.block.col-sm-6
              h2 Adam&apos;s Art Showcase
              p#daysAgo9
              p#updateDaysAgo9
              p Back in 2001-2002, I loved to draw and paint. It was a real passion. I must have spent hours drawing whatever interested me. I even made two projects of a select few with Microsoft PowerPoint. With my new web skills, I have turned my old projects into a web page full of my old drawings and paintings. Talk about a trip down memory lane.
              h3
                a.btn(href='http://adamsartshowcase.bodiewebdesign.com', role='button') Check Me Out &raquo;
          .row
            .box.block.col-sm-6.links
              img.img-responsive(src='static/img/nama.jpg', alt='Nama', width='400', height='300')
            .box.block.col-sm-6
              h2 Overview of the Nama Language
              p#daysAgo10
              p#updateDaysAgo10
              p During my senior year of college at the University of Minnesota, I took a Linguistics class and had to write a final paper on a language of my choice. I chose Nama, a Khoisan langauge in Africa that&apos;s known for their click consonants. With that said, here is my 25 page paper turned into an Ember.js backed web project.
              h3
                a.btn(href='http://nama.bodiewebdesign.com', role='button') Check Me Out &raquo;
          .row
            .box.block.col-sm-6.links
              img.img-responsive(src='static/img/reno-rnc.jpg', alt="Reno Nice 'n' Cool", width='400', height='300')
            .box.block.col-sm-6
              h2 Reno Nice &apos;n&apos; Cool: A Better RNC
              p#daysAgo11
              p#updateDaysAgo11
              p With a week vacation from work, I went on a road trip down to Reno, where I visited the city, Lake Tahoe and plenty of places along the way. To see my adventures and get a better RNC experience, click the link below.
              h3
                a.btn(href='http://reno.bodiewebdesign.com', role='button') Check Me Out &raquo;
          .row
            .box.block.col-sm-6.links
              img.img-responsive(src='static/img/dreidel.jpg', alt="Dreidel", width='400', height='300')
            .box.block.col-sm-6
              h2 Dreidel Duel
              p#daysAgo12
              p#updateDaysAgo12
              p Viewable from CodePen and built with React JS, this is a simple Dreidel game that can be played with two players.  This is more of a development version and prototype, but code is available to view on the CodePen site.
              h3
                a.btn(href='http://codepen.io/aduo3000/full/woEYxx/', role='button') Check Me Out &raquo;
          .row
            .box.block.col-sm-6.links
              img.img-responsive(src='static/img/coen.jpg', alt="Coen", width='400', height='300')
            .box.block.col-sm-6
              h2 Coen Brothers Film Review
              p#daysAgo13
              p#updateDaysAgo13
              p This little project was built with Webpack, compiling Babel-transpiled JavaScript, Sass-transpiled CSS and HTML.  A bare-bones version, source-code for this project is available via GitHub
              h3
                a.btn(href='http://film.bodiewebdesign.com', role='button') Check Me Out &raquo;
          .row
            .box.block.col-sm-6.links
              img.img-responsive(src='static/img/florence.jpg', alt="Florence", width='400', height='300')
            .box.block.col-sm-6
              h2 Florence Foundations
              p#daysAgo14
              p#updateDaysAgo14
              p My initial foray into Foundation framework, a different experience from my usual Bootstrap, I built this faux travel page using Bower to manage my dependencies.  Featuring pictures from my recent trip down to Florence, Oregon as well as other pictures I took in the area.  Full source-code for this project is available via GitHub
              h3
                a.btn(href='http://florence.bodiewebdesign.com', role='button') Check Me Out &raquo;
