extends ./layout.pug
block content
    .container.intro
      .row
        .col-md-6
          h2.section-heading Welcome to Bodie Web Design
          p Here you will find some web projects I have built for the past few years.  My main expertise for utilizing web projects is with JavaScript.  As you'll see, I like to use AngularJS and React as frameworks, as well as Ember.  This page uses AngularJS for the front-end, Express as the middleware, and backed with NodeJS.  All source code for my various projects can be found on my GitHub page.  Feel free to check out my code and see how I do my magic.
          p I started working on Web Development back in 2013, learning many languages in addition to JavaScript.  I'm always open to learning new things to build for the future, and willing to expand my skills on languages I have a basic understanding of, including Java, Ruby and Python.
          p My goal is to become a Full Stack developer, and while front end is my particular expertise, I am capable of building code on the back end to get my projects up and running, as well as using tools to make developing code easier and quicker.
        .col-md-6
          h1#feature_project Featured Project
          #feature(ng-controller='FeatureController')
            a(href='http://{{randomFeature.link}}.bodiewebdesign.com')
              img(ng-src='static/img/{{randomFeature.image}}.jpg' class='img-responsive center-block')
            h3 {{randomFeature.title}}
      section#about
        .container
          .row
            h2.section-heading Picture of the Week
            #week.col-md-6
              .photo
                img.img-responsive(src='static/img/science.jpg', alt='I Love Science')
                a(href='static/img/science.jpg')
                  .photo-overlay
                    h3 I Love Science
                    p Date Taken: July 17, 2008
                    p Location: Portland, Oregon
      section
        .row.ad
          #ad
            button#close
              i.fa.fa-times
            a(href='http://www.github.com/adambodie', target='_blank')
              div#github
                h1
                  | Visit my GitHub page
                i.fa.fa-github.fa-5x
      section#projects
        .container
          h2.section-heading Projects
          .row
            h3#update Recent updates
            .update(ng-controller='UpdateController')
              ul
                li(ng-repeat='update in updates')
                  strong {{update.title}}
                  p {{update.description}}
            div(ng-controller='ProjectController')
              div(ng-repeat='project in projects')
                .row
                  .box.block.col-sm-6.links
                    img.img-responsive(ng-src='/static/img/{{project.image}}.jpg', alt='{{project.alt}}', width='400', height='300')
                  .box.block.col-sm-6
                    h2 {{project.title}}
                    .description
                      p
                        strong Created:
                        |  {{project.created}}
                      p
                        strong Added:
                        |  {{project.createdAt}}
                      br
                      p
                        strong Updated:
                        |  {{project.updated}}
                      p
                        strong Last Updated:
                        |  {{project.updatedAt}}
                    p
                        strong Technologies Used:
                        |  {{project.languages}}
                    p {{project.description}}
                    h3
                      a.btn(href='http://{{project.link}}.bodiewebdesign.com', role='button') Check Me Out! &raquo;
