doctype html
html(lang="en")
		include ./partials/_head.pug

		body#page-top(ng-app='mainApp')
			include ./partials/_nav.pug
			block content
			include ./partials/_footer.pug
			include ./partials/_javascript.pug
