extends ./layout.pug

block content
    .container.intro
        .row
            h1 Picture of the Week
            p To view previous pictures, click on a star to pull up an info window and select the picture. 
            .row
                #map