@import '../../imports.scss';
#topbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	border-bottom: 1px solid black;
	display: flex;
	@include gradient (black, $primary-color);
	#navbar {
		width: 100%;
		@include gradient(black, $primary-color);
	}
	img {
		margin: 10px;
	}
	ul {
		padding: 0;
		text-align: center;
		height: 60px;
		margin-top: -30px;
		display: block;
	}
	li {
		font-size: 0.8em;
   		margin-top: 30px;
   		padding: 10px;
   		a {
   			color: $white;
			text-decoration: none;
			&:hover {
				color: $darken;
			}
   		}
	}
}
@media (min-width: 769px) {
	#topbar {
		ul {
			text-align: left;
			margin-top: 0;
		}
		li {
			font-size: 1.3em;
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}