#topbar.navbar-header
    img(src="../assets/bodie-web-design.jpg",alt="Bodie Web Design",style="height:85px")
    button(type="button", data-toggle="collapse", data-target="#navbar", "aria-expanded"="false", aria-controls="navbar").navbar-toggle.collapsed
      i.fa.fa-bars
    #navbar.navbar-collapse.collapse
      ul
        li(*ngFor="let link of links")
          a(routerLink="{{link.url}}") {{link.name}}

