section#projects
  .container
      h2.section-heading Projects 
      div(*ngFor="let project of projects")
        .flex-container.project
          .flex-item.links
            img(src='../assets/{{project.image}}', alt='{{project.alt}}')
            h4 {{project.languages}}
          .flex-item.link-descriptions
            h2 {{project.title}}
            .description
              p
                strong Created:
                |  {{project.created}}
              p
                strong Added:
                |  {{project.createdAt}}
              br
              p
                strong Updated:
                |  {{project.updated}}
              p
                strong Last Updated:
                |  {{project.updatedAt}}
              br
              p.paragraph-description {{project.description}}
              h3
                a.btn(href='http://{{project.link}}.bodiewebdesign.com', role='button') Check Me Out! &raquo;
section.ad
      a(href='https://teamtreehouse.com/adambodie', target='_blank')  
        img(src='../assets/treehouse.png', alt='Treehouse')
section#mobile-projects
  .container
      h2.section-heading Mobile Projects
      div(*ngFor="let mobileProject of mobileProjects")
        .flex-container.project
          .flex-item.links
            .mobile
              perfect-scrollbar([config]='config').content
                img(src='../assets/{{mobileProject.image}}', alt='{{mobileProject.alt}}')
            h4 {{mobileProject.languages}}
          .flex-item.link-descriptions
            h2 {{mobileProject.title}}
            .description
              p
                strong Created:
                |  {{mobileProject.created}}
              p
                strong Added:
                |  {{mobileProject.createdAt}}
              br
              p
                strong Updated:
                |  {{mobileProject.updated}}
              p
                strong Last Updated:
                |  {{mobileProject.updatedAt}}
              br
              p.paragraph-description {{mobileProject.description}}
              h3
                a.btn(href='http://{{mobileProject.link}}.bodiewebdesign.com', role='button') Check Me Out! &raquo;
section#development-projects
  .container
    h2.section-heading Development Projects
    .flex-container.project
      .flex-item.links
        img(src='../assets/speech-text.jpg', alt='Adams Speech to Text')
        h4 JavaScript, jQuery, Watson API, Jest          
      .flex-item.link-descriptions
        h2 Adam's Speech to Text
        p
          strong Created:
          |  December 28, 2017 
        p.paragraph-description This project, based on IBM's Zero to Cognitive Tutorial series (Chapter 3 in particular), is my first foray using IBM Watson.  I further expanded on this project by converting spoken text into Pig Latin. 
        h3
          a.btn(href='https://github.com/adambodie/adam-speech-to-text', role='button') Check Me Out! &raquo;
