section#projects
  .container
    .row
      h2.section-heading Projects
      div
        div(*ngFor="let project of projects")
          .row.project
            .box.block.col-sm-4.links
              img.img-responsive(src='../assets/{{project.image}}.jpg', alt='{{project.alt}}', width='400', height='300')
            .box.block.col-sm-8
              h2 {{project.title}}
            .description
              p
                strong Created:
                |  {{project.created}}
              p
                strong Added:
                |  {{project.updated}}
              br
              p
                strong Updated:
                |  {{project.createdAt}}
              p
                strong Last Updated:
                |  {{project.updatedAt}}
              p
                strong Technologies Used:
                |  {{project.languages}}
              p {{project.description}}
              h3
                a.btn(href='http://{{project.link}}.bodiewebdesign.com', role='button') Check Me Out! &raquo;
