section#projects
  .container
      h2.section-heading Projects
      .flex-container.edit
        div.options
          select((change)="filterList()")
            option(value="") Filter by Technology...
            option(*ngFor="let item of uniqueOptions") {{item}}
        div.button
          a.btn((click)="reset()") Reset     
      div(*ngFor="let project of projects")
        div([class]="project.visible ? 'visible' : 'invisible'")
          .flex-container.project(*ngIf="project.visible")          
            .flex-item.links
              img(src='../assets/{{project.image}}', alt='{{project.alt}}')
              ul.languages
                li(*ngFor="let language of project.languages") {{language.name}}
            .flex-item.link-descriptions
              h2 {{project.title}}
              .description
                p
                  strong Created:
                  |  {{project.created}}
                p
                  strong Added:
                  |  {{project.createdAt}}
                br
                p
                  strong Updated:
                  |  {{project.updated}}
                p
                  strong Last Updated:
                  |  {{project.updatedAt}}
                br
                p.paragraph-description {{project.description}}
                h3
                  a.btn(href='http://{{project.link}}.bodiewebdesign.com', role='button') Check Me Out! &raquo;
section.advertisement.treehouse
      a(href='https://teamtreehouse.com/adambodie', target='_blank')  
        img(src='../assets/team-treehouse.gif', alt='Treehouse')
        h1 View my Treehouse Profile
section#mobile-projects
  .container
      h2.section-heading Mobile Projects
      div(*ngFor="let mobileProject of mobileProjects")
        .flex-container.project
          .flex-item.links
            .mobile
              perfect-scrollbar([config]='config').content
                img(src='../assets/{{mobileProject.image}}', alt='{{mobileProject.alt}}')
            ul.languages
              li(*ngFor="let language of mobileProject.languages") {{language.name}}
          .flex-item.link-descriptions
            h2 {{mobileProject.title}}
            .description
              p
                strong Created:
                |  {{mobileProject.created}}
              p
                strong Added:
                |  {{mobileProject.createdAt}}
              br
              p
                strong Updated:
                |  {{mobileProject.updated}}
              p
                strong Last Updated:
                |  {{mobileProject.updatedAt}}
              br
              p.paragraph-description {{mobileProject.description}}
              h3
                a.btn(href='http://{{mobileProject.link}}.bodiewebdesign.com', role='button') Check Me Out! &raquo;
section#development-projects
  .container
    h2.section-heading Development Projects
    .flex-container.project
      .flex-item.links
        img(src='../assets/speech-text.jpg', alt='Adams Speech to Text')
        ul.languages
          li jQuery
          li Watson API
          li Jest      
      .flex-item.link-descriptions
        h2 Adam's Speech to Text
        p
          strong Created:
          |  December 28, 2017 
        p.paragraph-description This project, based on IBM's Zero to Cognitive Tutorial series (Chapter 3 in particular), is my first foray using IBM Watson.  I further expanded on this project by converting spoken text into Pig Latin. 
        h3
          a.btn(href='https://github.com/adambodie/adam-speech-to-text', role='button') Check Me Out! &raquo;
