section#projects
  .container
    .row
      h2.section-heading Projects
      div
        div
          .row.project
            .box.block.col-sm-4.links
              img.img-responsive(src='../assets/wildwildwest.jpg', alt='Wild Wild West', width='400', height='300')
            .box.block.col-sm-8
              h2 Adam's Wild Wild West
            .description
              p
                strong Created:
                |  2017
              p
                strong Added:
                |  Last Year
              br
              p
                strong Updated:
                |  2017
              p
                strong Last Updated:
                |  2017
              p
                strong Technologies Used:
                |  React
              p Photo Gallery
              h3
                a.btn(href='http://wildwildwest.bodiewebdesign.com', role='button') Check Me Out! &raquo;
