@import './imports.scss';

.about-container {
	h1 {
		margin-top: 20px;
	}
}
.about {
	color: white;
	@include center-image();
	p {
		padding: 10px;
	}
}
p {
	a {
		color:  white;
		&:hover {
			color: $darken;
			text-decoration: none;
		}
	}
}

#adam {
	border-radius: 100%;
	box-shadow: 10px 10px 10px black;
	@include center-image();
	@include responsive();
	max-width: 300px;
}

.contact {
	padding: 20px;
	color: white;
}

@media (min-width: 769px) {
	#adam {
		margin-top: 25%;
	}
}
