@import './_imports.scss';

* {
	color: white;
}

body {
	background: url('../assets/background.jpg') fixed no-repeat center; 
	background-size: cover;
}


.banner {
	width: 100%;
	height: 200px;
	background: black;
	padding: 0;
	border-bottom: 2px solid black;
	&:hover {
		opacity: 0.9
	}
}

@media (min-width: 512px) {
	.banner {
		height: 300px;
	}
}
