@import './imports.scss';

body {
	background: url('/assets/background.jpg') fixed no-repeat center; 
	background-size: cover;
}

.home {
	color: $white;
}


.home-intro {
	text-align: center;
	margin-bottom: 20px;
	border-bottom: 1px solid white;
	h1 {
		text-align: center;
		font-size: 2em;
		margin-top: 10px;
	}
	h5 {
		@include center-image();
		line-height: 1.3;
		margin-bottom: 20px;
	}
}

@media (min-width: 769px) {
	.home-intro {
		h1 {
			font-size: 3em;
		}
		h5 {
			padding: 30px;
			width: 60%;
		}
	}
}
