@import './imports.scss';

.pictures {
	color: white;
}

.gallery {
	justify-content: center;
}
h1 {
	text-align: center;
	color: white;
}

.pagination {
	justify-content: center;
	li {
		background: white;
		min-width: 35px;
		min-height: 30px;
		padding: 5px;
		border: 1px solid #cacaca;
		position: relative;
		text-align: center;
		&:hover {
			background: #cacaca;
		}
		a {
			color: #262626;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			&:hover {
			text-decoration: none;
			}
		}
	}
	.active {
		background: #807f7f;
		&:hover {
			background: #685d5d;
		}
	}
	.disabled {
		background: #cacaca;
		&:hover {
			background: #cacaca;
		}
	}
}

.close-button {
	position: absolute;
	top: 5px;
	right: 5px;
	background: black;
	color: white;
	border: none;
	font-weight: bold;
	padding: 0;
	&:hover {
		color: gray;
	}
}


.modal-description {
	padding: 10px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.photo {
	position: relative;
	overflow: hidden;
	padding: 0;
	margin: 5px;
	img {
		transform-origin: 0 0;

	}
	&:hover img {
		transform: scale(1.2);
	}
}

.photo-overlay {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0, .5);
	opacity: 0;
	transition: opacity 1s;
	&:hover {
		opacity: 1;
	}
	h2 {
		text-align: center;
		font-size: 1em;
	}
	p {
		text-align: center;
		font-size: 12px;
		line-height: 1.1;
	}
}

.ReactModal__Content, .ReactModal__Content--after-open {
	top: 0px!important;
	left: 0px!important;
	bottom: 0px!important;
	right: 0px!important;
	background: rgba(0,0,0,0.9)!important;
	display: flex;
}

.modal-body {
	width: 100%;
	img {
		margin-top: 25px;
	}
}
.modal-title {
	h2 {
		font-size: 2em;
	}
	p {
		text-indent: 1em;
		color: #BFBFBF;
	}
}
.modal-info {
	p {
		margin-bottom: 0;
		text-align: right;
		font-size: 0.9em;
	}
}
@media (min-width: 768px) {
	.modal-title {
		h2 {
			font-size: 3em;
		}
	}
	.modal-body {
		img {
			margin-top: 0px;
		}
	}
	.photo {
		max-width: 30%!important;
	}
}
