@import './imports.scss';

h1 {
	font-size: 3em;
	text-align: left;
}
.filter {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
}

.filter > div {
	margin-bottom: 20px;
	h3 {
		margin-top: -10px;
		text-align: center;
	}
}

.edit {
	width: 60%;
	@include center-image;
	select {
		margin-top: 20px;
		width: 100%;
	}	
	.btn {
		margin-top: 20px;
		width: 100%;
	}
	p {
		margin-top: 10px;
		font-size: 1.25em;
	}
	span {
		font-weight: bold;
		font-size: 1.375em;
	}
}

.sort {
	flex-wrap: wrap;
	justify-content: center;
	.btn {
		margin: 10px;
		width: 100%;
	}
}
select {
	color: black;
	height: 33px;
	border-radius: 5px;
	width: 100%;
	text-indent: 1em;
	background-color: white;
	&:hover {
		background-color: #e4e4e4;
	}
}

.project {
	border-top: 1px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		margin-top: 10px;
	}
}

.paragraph-description {
	line-height: 1.3;
	font-size: 14px;
}

.description-data {
	line-height: 0.5;
}
.languages {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
	li {
		list-style: none;
		margin: 5px;
    	width: 110px;
    	text-align: center;
    	text-transform: uppercase;
		border: 1px solid white;
		border-radius: 5px;
    	font-weight: bold;
    	font-size: 14px;
	}
}
.btn {
	@include gradient(black, $primary-color);
	color: $white;
	border: 1px solid black;

	&:hover {
		color: $darken;
	}
}
.filter {
	align-items: center;
	.btn {
		width: 100%;
		height: 65px;
	}
}
.invisible {
	display: none;
	visibility: visible;
}

select {
	height: 65px;
}
option {
	color: black;
}

.results {
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
}
