@import './imports.scss';

select {
	color: black;
	height: 45px;
	border-radius: 5px;
	width: 100%;
	text-indent: 1em;
	background-color: $white;
	&:hover {
		background-color: $darken;
	}
}

option {
	color: black;
}


.results {
	height: 45px;
	@include flex-column();
	justify-content: center;
	align-items: center;
}
