section#about
        .container
          .row
            #week.col-md-6.col-md-offset-3
              h2.section-heading(style="text-align:center") Picture of the Week
              .photo
                img.img-responsive(src='../assets/{{image}}', alt='{{title}}')
                a(href='../assets/{{image}}' data-imagelightbox="a")
                  .photo-overlay
                    h3 {{title}}
                    p Week of: {{week}}
                    p Location: {{location}}, {{state}}
                    p(style="text-align: center") {{description}}
            .col-md-6