section#about
        .container
          .row
            h2.section-heading Picture of the Week
            #week.col-md-6
              .photo
                img.img-responsive(src='../assets/elvis.jpg', alt='Elvis')
                a(href='../assets/elvis.jpg' data-imagelightbox="a")
                  .photo-overlay
                    h3 Elvis on the Roof
                    p Week of: June 24, 2018
                    p Location: Nashville, Tennessee
                    p(style="text-align: center") And Singing on Rooftop, it's Elvis!
            .col-md-6
              div(map-lazy-load='https:/maps.googleapis.com/maps/api/js?key=AIzaSyBrpgMWBTZRs58bzHOzCfESQPsvI09zOuo&v=3')