h2.section-heading Picture of the Week
.photo
  .photoweek
    img(src='../assets/{{newest.image}}', alt='{{newest.title}}')
    modal(#firstModal)
      modal-content
        .modal-image
          img(src='../assets/{{newest.image}}', alt='{{newest.title}}')
          .modal-description
            h2 {{newest.title}}
            p Week of: {{newest.week}}
            p Location: {{newest.location}}, {{newest.state}}
            p {{newest.description}}    
    .photo-overlay((click)='firstModal.open()')
      h2 {{newest.title}}
      p Week of: {{newest.week}}
      p Location: {{newest.location}}, {{newest.state}}
      p {{newest.description}}

 
