h2.section-heading Recent Updates
perfect-scrollbar.perfect-scrollbar([config]='config')
  .update
    ol
      li(*ngFor='let update of updates')
        p
          strong {{update.title}} 
          | - {{update.description}}     
