include ./partials/_headTest.jade
body.mainTest
	h1 QUnit Test Page
	ul
		li.block
			a(href="open.html") Open
		li.block
			a(href="thanksgiving.html") Thanksgiving
		li.block
			a(href="labor.html") Labor Day
		li.block
			a(href="memorial.html") Memorial Day
		li.block
			a(href="time.html") How Many Days Ago						