.container.intro
  .flex-container
    .flex-item
      h2.section-heading {{title}}
      p
      | Welcome to my portfolio page. Here you will find links to some of my best projects.  I work primarily as a front-end Web Developer, using JavaScript and many of its frameworks.  My favorite framework to use is 
      span React
      | , but I&apos;m also capable of building web apps with 
      span Angular
      |  and 
      span Vue
      | .  
      p 
      | I first built my portfolio site with 
      span AngularJS
      | , 
      span Express
      |  and 
      span Node.js; 
      | served with AWS Elastic Beanstalk.  Since the beginning, my site has gone through multiple versions.  This version is currently built with 
      |
      span Angular
      | ,   
      span Node.js 
      | and served with AWS S3.  I've also used additional tools to help develop my projects, from CSS preprocessors (i.e. Sass) to templating engines (i.e. Pug).
    .flex-item
      app-feature
  section.advertisement.linkedin
    a(href="https://www.linkedin.com/in/adam-bodie/", target="_blank")  
      img(src='../assets/linkedin-icon.png', alt='LinkedIn')
      h1 View my LinkedIn profile
  .container
    .flex-container
      .flex-item    
        app-picture-week
      .flex-item
        app-update
  section.advertisement.github
    a(href='https://github.com/adambodie', target='_blank')
      img(src='../assets/github-icon.png', alt='GitHub')
      h1 Visit my GitHub page
  app-projects

