@import '../../imports.scss';

.intro {
  margin-top: 85px;
  span {
	font-weight: bold;
	text-transform: uppercase;
  }
}

.about-intro {
	color: white;
	&:hover {
		color: $darken;
	}
}
@media (min-width: 768px) {
	.feature {
		margin-top: 100px;
	}
}
