.container.intro
  .flex-container
    .flex-item
      h2.section-heading {{title}}
      p Welcome to my portfolio page. Here you will find links to some of my best projects.  I consider myself a Javascript developer, using many of its frameworks.  My favorite framework to use is React, but I'm also capable of building web apps with Angular, Vue, and Ember to name a few.  I first built my portfolio site with AngularJS, Express and Node.js; served with AWS Elastic Beanstalk.  Since the beginning, my site has evolved.  Currently, it's built with Angular, Node.js and served with AWS S3.  I've explored many build tools throughout my developing days, from templating engines (this site uses Pug) from CSS preprocessors like Sass (which my site also uses).
    .flex-item
      app-feature
  section.ad
    a(href="https://www.linkedin.com/in/adam-bodie/", target="_blank")  
      img(src='../assets/linkedin.png', alt='LinkedIn')
  app-picture-week
  section.ad
    a(href='https://github.com/adambodie', target='_blank')  
      img(src='../assets/github.png', alt='GitHub')
  app-projects

