@import '../../imports.scss';

.intro {
	margin-top: 50px;
	span {
		font-weight: bold;
		text-transform: uppercase;
	}
}

.feature {
	margin-top: 60px;
}


.about-intro {
	color: white;
	&:hover {
		color: $darken;
	}
}
@media (min-width: 768px) {
	.intro {
		margin-top: 85px;
	}
	.feature {
		margin-top: 100px;
	}
}
