@import '../../imports.scss';

.picture-container {
	min-height: 500px;
}
.pictures {
	h1 {
		margin-top: 125px;
	}
	p {
		text-align: center;
	}
	.flex-container {
		flex-wrap: wrap;
		border: none;
	}
	.flex-picture {
		width: 100%;
	}
}

@media (min-width: 512px) {
.pictures {
	.flex-picture {
		width: 33%;
		padding: 10px;
	}
}
}
