.container
  .pictures
    h1 Picture of the Week
    .flex-container
      .flex-picture(*ngFor='let picture of pictures | paginate: { itemsPerPage: 9, currentPage: p }')
        .photo
          img(src="../assets/{{picture.image}}" alt="{{picture.title}}")
          a(href="../assets/{{picture.image}}" data-imagelightbox="a")
            .photo-overlay
              h2 {{picture.title}}
              p Week of: {{picture.week}}
              p {{picture.location}}, {{picture.state}}
              p {{picture.description}}
    pagination-controls((pageChange)="p = $event" maxSize="10" previousLabel="" nextLabel="")
