@import '../../imports.scss';


.pictures {
	h1 {
		margin-top: 125px;
	}
	p {
		text-align: center;
	}
	.flex-container {
		flex-wrap: wrap;
		border: none;
	}
	.flex-picture{
		flex: 100%;
	}
}

@media (min-width: 512px) {
.pictures {
	.flex-picture {
		flex: 33%;
		padding: 10px;
	}
}
}
