.container
  .pictures
    h1 Picture of the Week
    .flex-container.picture-container
      .flex-picture(*ngFor='let picture of pictures | paginate: { itemsPerPage: 9, currentPage: p }')
        .photo
          img(src='../assets/{{picture.image}}', alt='{{picture.title}}')
          modal(#modal)
            modal-content
              .modal-image
                img(src='../assets/{{picture.image}}', alt='{{picture.title}}')
                .modal-description
                  h2 {{picture.title}}
                  p Week of: {{picture.week}}
                  p Location: {{picture.location}}, {{picture.state}}
                  p {{picture.description}}    
          .photo-overlay((click)='modal.open()')
            h2 {{picture.title}}
            p Week of: {{picture.week}}
            p Location: {{picture.location}}, {{picture.state}}
            p {{picture.description}}
    pagination-controls((pageChange)="p = $event" maxSize="10" previousLabel="" nextLabel="")
