h1#feature_project Featured Project
  #feature
    a(href='http://{{randomLink}}.bodiewebdesign.com')
      img(src='../assets/{{randomImage}}.jpg' class='img-responsive center-block' alt='{{randomTitle}}')
    h2 {{randomFeatureTitle}}

